* {
    font-family: 'Montserrat', serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 8%;
    background: linear-gradient();
    z-index: 1001;
}

h1.heading {
    position: fixed;
    align-items: center;
    text-align: center;
}

.logo {
    list-style: none;
    position: absolute;
    top: 0px;
    left: 200px;
}

details.menu {
    position: fixed;
    align-items: center;
}

.body {
    background: linear-gradient(to right, white, black, white);
    width: 500px;
    height: 500px;
}

ul.hr {
    position: sticky;
    margin: 0;
    /* Обнуляем значение отступов */
    padding: 4px;
    /* Значение полей */
    text-align: center;
    /* Расположение в центре */
}

ul.hr li {
    display: inline;
    /* Отображать как строчный элемент */
    padding: 3px;
    /* Поля вокруг текста */
}

.wrapper {
    position: relative;
    margin: auto;
    top: 15%;
    height: 200px;
    width: 75%;
    margin-bottom: -50px;
    min-height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    margin-top: 60px;
}

.footer,
.push {
    height: 0px;
}

a.text:active,
/* активная/посещенная ссылка */
a.text:hover,
/* при наведении */
a.text {
    text-decoration: none;
    color: #585858;
}